 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 body{
    line-height: 1.5;
    font-family:'Poppins', sans-serif;
 }
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header nav{
    display: grid;
    padding: 20px 40px 20px 100px;
    border-bottom: 1px solid #000000;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(background.jpg);
    background-size: cover;
    background-position: center;
} 
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 180px;
    height: auto; /* This allows the logo's height to adjust proportionally to its width */
    cursor: pointer;
    vertical-align: middle; /* Adjust the vertical alignment */
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
    
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #a9cac6;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width:100% ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px; 
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.button-link{
    color: inherit; /* Inherits the color from the parent (button) */
    text-decoration: none; 
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #8da4aa;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:#8da4aa;
    height: 100%;
    width: 0;
    border-radius:25px ;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover span{
    border: none;
}
*.foot{
    margin: 110;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.uuu{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 50px 0;
}
.footer-col{
    width:25% ;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #230f16;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all ease 0.3s;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.last-line{
    position: relative;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 150;
}
body, header, section {
    margin: 0;
    padding: 0;
}
